body {
    background-color: black;
    background-image: url(ChatGPT\ Image\ Aug\ 22\,\ 2025\,\ 07_51_28\ PM.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
h1 {
    color: rgb(255, 255, 255);
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(17, 0, 255);
}
h2 {
    color: rgb(255, 255, 255);
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: 2px 2px 3px rgb(17, 0, 255);

}
iframe {
    text-align: center;
    margin-top: auto;
}
p{
    color: white;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 3px blue;
}
h2{
    color: white;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 3px blue;
}
button{
    color: white;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 3px lightblue;
    background-color: rgb(0, 0, 255);
    border-radius: 3px;
    cursor: pointer;
}